*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

.bg-primary{
    background-color:burlywood !important;
    background-image: url(../assets/img/bg-lll.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-family: 'Noto Serif TC', sans-serif;
}

p.redred{
    color:whitesmoke;
    background-image: url(../assets/img/bg-angel.jpg);
    background-color: #F6A7B8;
    border: 5px dashed;
    border-color: #4B3A51;
    font-size: 40px;
    text-align: center;
    text-indent: 2em;
    font-family: 'Noto sans TC', sans-serif;
}

.blueblue{
    color:#D77186;
}

.expedu_icon {
    color:#D77186
}

.expedu_icon:hover{
    background-color:#D77186;
    color:whitesmoke;
}