*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

body{
    font-family: 'Noto Serif TC', sans-serif;
}

p.redred{
    color:#4B3A51;
    font-size: 40px;
    text-align: center;
    text-indent: 2em;
    background-color: #F6A7B8;
    font-family: 'Noto sans TC', sans-serif;
}

.blueblue{
    color:#D77186;
}