*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

.bg-primary{
    background-color:burlywood !important;
    background-image: url(../assets/img/bg-lll.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-family: 'Noto Serif TC', sans-serif;
}

.andy80{
    width: 80%;
    margin: 0px auto;
}


div#redred{
    padding: 5px;
    color:whitesmoke;
    background-color: #bf7070;
    border: 5px solid;
    margin: 0px 0px 50px 0px;
    border-color: #dc8d8d;
    border-radius: 5px;
    font-size: 20px;
    text-align: left;
    text-indent: 2em;
    font-family: 'Noto Serif TC', sans-serif;
}

.blueblue{
    color:#AD5A5A;
}

.expedu_icon {
    color:#D77186
}

.expedu_icon:hover{
    background-color:#D77186;
    color:whitesmoke;
    border-radius: 20px;
}

table.andytable{
    width: 80%;
    background-color: bisque;
}

table.andytable th{
    text-align: center;
    background-color: brown;
    color: beige;
    border:10px solid palevioletred;
}

table.andytable td{
    text-align: center;
    border:10px solid palevioletred;
}